{% extends 'base.html' %}
{% load carttag %}


{% block content %}
<!--push menu cart1 -->
{% include 'header.html' %}
<!--main content-->
<div class="main-content">
    {% if cart %}
    <div class="cart-box-container-ver2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Shopping Cart</h3>
                    <table class="table cart-table space-30">
                        <tbody>
                        {% for i in cart %}
                        <tr class="item_cart">
                            <td class="product-photo"><img src="{{i.product.img.image.url}}" alt="Futurelife"
                                                           style="width:75%"></td>
                            <td class="produc-name"><a href="{% url 'product' i.product.id %}" title="">{{i.product.product_name}}</a>
                                <div class="quantity input-group">
                                    <a class="btn btn-outline-danger bth-hover-danger btn-delete"
                                       href="{% url 'delete' i.product_id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
                                        </svg>
                                        Delete
                                    </a>
                                    <span class="span_quantitu">{{i.quantitu}} шт.</span>
                                </div>
                            </td>
                            <td class="total-price">
                                <a class="remove" href="{% url 'delete' i.product_id %}" title="">x</a>
                                <p class="price">{{i.product.price}} руб.</p>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="{% url 'shop' %}" class="btn link-button hover-black continue">Continue
                                Shopping</a>
                        </div>


                    </div>
                </div>
                <!-- End contact-form -->
                <div class="col-md-4">
                    <!--                    <h3>Coupon</h3>-->
                    <!--                    <div class="contact-form coupon">-->
                    <!--                        <form class="">-->
                    <!--                            <div class="form-group">-->
                    <!--                                <input type="text" class="form-control input-cart1" id="inputfname"-->
                    <!--                                       placeholder="Coupon Code">-->
                    <!--                                <button value="Submit" class="btn link-button link-button-v2 hover-white color-red"-->
                    <!--                                        type="submit">Apply coupon-->
                    <!--                                </button>-->
                    <!--                            </div>-->
                    <!--                        </form>-->
                    <!--                    </div>-->
                    <h3>Cart Totals</h3>
                    <div class="text-price">
                        <ul>

                            <li><span class="text">Totals</span><span class="number">{{sum_total}} руб.</span></li>
                        </ul>
                    </div>
                    <a class="btn link-button hover-white checkout" href="{% url 'cart_checkout' %}"
                       title="Proceed to checkout">Proceed to
                        checkout</a>
                </div>
            </div>
        </div>
        <!-- End container -->
    </div>
    <!-- End cat-box-container -->
</div>
<!-- end main content-->

{% else %}
{% no_cart %}

{% endif %}

{% include 'footer.html' %}
<a href="#" class="scroll_top">SCROLL TO TOP<span></span></a>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/main.js"></script>
{% endblock %}